@page "/"

<PageTitle>Index</PageTitle>

<div class="video-container">
        <video autoplay muted>
            <source src="Pie Chart - Blank Presentation.mp4" type="video/mp4">
            <a href="Pie Chart - Blank Presentation.mp4">MP4</a>
        </video>
</div>

@code{ 

}