*[b-lsyc32u2ir]{
    background-color: grey;
    overflow-x: hidden;
}

.page[b-lsyc32u2ir] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main[b-lsyc32u2ir] {
    flex: 1;
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

.sidebar[b-lsyc32u2ir] {
    background-color: #181818;
}

.top-row[b-lsyc32u2ir] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .top-row[b-lsyc32u2ir]  a, .top-row[b-lsyc32u2ir]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-lsyc32u2ir]  a:hover, .top-row[b-lsyc32u2ir]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-lsyc32u2ir]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-lsyc32u2ir] {
        display: none;
    }

    .top-row.auth[b-lsyc32u2ir] {
        justify-content: space-between;
    }

    .top-row[b-lsyc32u2ir]  a, .top-row[b-lsyc32u2ir]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-lsyc32u2ir] {
        flex-direction: column;
    }

    .sidebar[b-lsyc32u2ir] {
        width: 100vw;
        height: 15vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lsyc32u2ir] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-lsyc32u2ir]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-lsyc32u2ir], article[b-lsyc32u2ir] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
        display: flex;
        height: 75vh;
        align-items: center;
    }
}
